body {
  background-color: white;
}

.header-gradient {
  display: block;
  background: linear-gradient(to bottom right, #6060F5 40%, #FDB90D 100%);
}

.padding-b {
  padding-bottom: 130px;
}

header h1,
header p {
  color: #f0f0f0;
}

header h1 {
  color: #cddc39;
  font-size: 4rem;
  font-weight: bolder;
}

header p {
  font-size: 24px;
}

header h2 {
  font-size: 4rem;
  color: rgb(15, 23, 42);
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

header .carousel img {
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 20%);
  border: 2px solid #f6f6f6;
  border-radius: 1rem;
}

header .carousel button {
  background-color: #ff9800;
  border: 1px solid #ca7800;
}

header .carousel button.hero-btn:hover {
  background-color: #ea8e04;
  border: 1px solid #bc7100;
}


main .sidebar .list-group-item a{
  display: block;
  margin-left: 0px;
  text-decoration: none;
  color: white;
  transition: margin-left 0.2s ease-in-out;
}

main .sidebar .list-group-item {
  border-bottom-color: #3a4256;
  transition: background-color 0.2s ease-in-out; 
}

main .sidebar .active,
main .sidebar .list-group-item:hover{
  background-color: #6060F5;
}

main .sidebar .list-group-item a:hover {
  margin-left: 10px;
}


main .sidebar .list-group-item:first-child{
  border-radius: 15px 0px 0px 0px;
}

main .sidebar .list-group-item:last-child {
  border-radius: 0px 0px 0px 15px;
}


@media screen and (max-width: 992px) {
  header h1 {
    font-size: 3rem;
    text-align: center;
  }

  header h2 {
    width: 100%;
    text-align: center;
  }
  
}


@media screen and (max-width: 425px) {
  header {
    margin: 0;
    border-radius: 0;
  }
}

/* .carousel img,
.carousel-item img {
  mix-blend-mode: multiply !important;
} */
 


